*{
	font-size: 12px;
}
	/*最外层的容器*/
.jd_container{
	width: 100%;
	min-height: 800px;
	background-color: #eee;
}

/*顶部通栏*/
.jd_header{
	height: 40px;
	width: 100%;
	/*相对于浏览器定位*/
	position:fixed; 
	z-index:1;
	/* 设置pading 把input 挤进去 */
	padding-left: 70px;
	padding-right: 60px;
}

.jd_header .header_logo{
	width: 60px;	
	height: 36px;
	position:absolute;
	left: 5px;
	top: 2px;
	/*设置背景图片*/
	background: url('../images/sprites.png') no-repeat 0 -103px/200px 200px;
}
.jd_header .header_glasses{
	width: 20px;
	height: 20px;
	position:absolute;
	background: url('../images/sprites.png') no-repeat -60px -109px/200px 200px;
	top: 10px;
	left: 75px;
}
.jd_header .header_search{
	width: 100%;
	height: 30px;
	margin-top:5px;
	border-radius: 20px;
	padding-left: 30px;	
	font-size: 15px;
}
.jd_header .header_login{
	width: 45px;
	position: absolute;
	text-align: center;
	right: 7px;
	top: 0;
	line-height: 40px;
	color: white;
	font-size: 17px;
}

/*顶部的轮播图*/
.jd_banner{
	width: 100%;
	overflow:hidden;
	position:relative;
}
.jd_banner .banner_images{
	width: 1000%;}
.jd_banner .banner_images li{
   	float:left;
   	width: 10%;
} 
.jd_banner .banner_images li a{
	width: 100%;
}
.jd_banner .banner_images li a img{
	width: 100%;
	display: block;
}
.jd_banner .banner_index{
	position:absolute;
	left:50%;
	margin-left: -44px;
	bottom: 10px;
	/*background-color: #000;*/
}
.jd_banner .banner_index li{
	width: 6px;
	height: 6px;
	float: left;
	border-radius: 50%;
	border: 1px solid white;
	margin-left: 5px;
}
.jd_banner .banner_index li.current{
	background-color: #fff;
}

/*导航栏*/
.jd_nav{
	width: 100%;
	border-bottom: 1px soild gray;
	background-color: #fff;
}
.jd_nav ul{
	width: 100%;
	padding-top:5px;
}
.jd_nav ul li{
	float: left;
	width: 25%;
}
.jd_nav ul li a{
	width: 100%;
	display: block;
}
.jd_nav ul li a img{
	width: 40px;
	height: 40px;
	display: block;
	margin: 0 auto;
}
.jd_nav ul li a p{
	text-align: center;
	padding: 5px 0;
	color: gray;
	font-size: 12px;
}

/*首页的主要内容*/
.jd_main{
	width: 100%;
	padding: 0 5px;
	margin-top: 10px;
}
.jd_main .main_content{
	width: 100%;
	margin-top: 5px;
	background-color: #fff;
	/*阴影*/
	box-shadow: 0 0 1px lightgray;
	min-height: 150px;
}
.jd_main .main_content .content_top{
	height: 32px;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.jd_main .main_content .content_bottom{
	width: 100%;
	background-color: #fff;
}

.jd_main .main_content:first-child .content_top{
	border-bottom: none;
}
.jd_main .main_content:first-child .content_top span{
	width: 20px;
	height: 25px;
	background: url('../images/seckill-icon.png');
	background-size: 20px 25px;
	float: left;
	margin-top: 3.5px;
	margin-left: 5px;
}
.jd_main .main_content:first-child .content_top p{
	color: rgb(201, 21, 35);
	float: left;
	line-height: 32px;
	margin-left: 5px;
}
.jd_main .main_content:first-child .content_top ul{
	padding-top: 8.5px;
	height: 32px;
}
.jd_main .main_content:first-child .content_top ul li{
	height: 15px;
	width: 15px;
	background-color: #000;
	color: white;
	text-align: center;
	line-height: 15px;
	float: left;
	margin-left: 3px;
}
/*去除第三个第六个 特殊*/
.jd_main .main_content:first-child .content_top ul li:nth-child(3n){
	background-color: transparent;
	color: black;
	width: 5px;
}
.jd_main .main_content:first-child .content_top a{
	color:gray;
	line-height: 32px;
	margin-right: 5px;
}

.jd_main .main_content:first-child .content_bottom{
	width: 100%;
	display: block;
}
.jd_main .main_content:first-child .content_bottom ul{
	width: 100%;
}
.jd_main .main_content:first-child .content_bottom ul li{
	width: 33.33%;
	float: left;
	text-align: center;
}
.jd_main .main_content:first-child .content_bottom ul li a{
	display: block;
	width: 100%;
	border-right:1px solid lightgray;
}
.jd_main .main_content:first-child .content_bottom ul li:last-child a{
	border-right: none;
}
.jd_main .main_content:first-child .content_bottom ul li a img{
	width: 60%;
	margin: 0 auto;
	display: block;
}
.jd_main .main_content:first-child .content_bottom ul li p{
	text-align: center;
	padding-top: 3px;
}
.jd_main .main_content:first-child .content_bottom ul li p:nth-child(2){
	color: rgb(201, 21, 35);
}
.jd_main .main_content:first-child .content_bottom ul li p:nth-child(3){
	color: #000;
	text-decoration: line-through;
}

/*除去第一个之后的样式*/
.jd_main .main_content:nth-child(n+2) .content_top span{
	font-size: 15px;
	color: #000;
	line-height: 32px;
	margin-left: 15px;
	position: relative;
}
.jd_main .main_content:nth-child(n+2) .content_top span::before{
	content: '';
	position: absolute;
	/*宽高*/
	height: 15px;
	width: 3px;
	background-color: rgb(201, 21, 35);
	left: -10px;
	top: 8.5px;
}

.jd_main .main_content:nth-child(n+2) .content_bottom{
	width: 100%;
}
.jd_main .main_content:nth-child(n+2) .content_bottom ul{
	width: 100%;
}
.jd_main .main_content:nth-child(n+2) .content_bottom ul li{
	width: 50%;
}
.jd_main .main_content:nth-child(n+2) .content_bottom ul li a{
	width: 100%;
	display: block;
}
.jd_main .main_content:nth-child(n+2) .content_bottom ul li a img{
	width: 100%;
	display: block;
}



