.header{
	width: 100%;
	height: 45px;
	background: url('../images/header-bg.png') repeat-x;
	background-size: 1px 44px;
	padding-left: 40px;
	padding-right: 50px;
	position: absolute;
}
/*header 坐标的a标签*/
.header a:nth-child(1){
	line-height: 40px;
	color: gray;
	font-size: 35px;
	position: absolute;
	left: 10px;
}

.header input{
	width: 100%;
	height: 31px;
	margin-top: 7px;
	border-radius: 5px;
	border: 1px solid #eee;
}

.header a:nth-child(3){
	background: url('../images/sprites.png') -60px 0/200px 200px ;
	/*设置背景图 开始的位置*/
	background-origin: content-box;
	/*设置背景图 保留的区域*/
	background-clip: content-box;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 10px;
	top: 0;
	padding: 12px 10px;
}

/*主要内容*/
.main{
	padding-top: 45px;
	width: 100%;
	overflow: hidden;
	height: 100%;
}
/*主要内容区域的 左边*/
.main .main_left{
	width: 90px;
	overflow: hidden;
}
.main .main_left ul{
	width: 100%;
}
.main .main_left ul{
	width: 100%;
}
.main .main_left ul li{
	display: block;
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}
.main .main_left ul li a{
	display: block;
	color: black;
}
.main .main_left ul li.current{
	border-right: none;
}
.main .main_left ul li.current a{
	color: rgb(201,21,35);
}

/*右边的区域*/
.main .main_right{
	margin-left: 90px;
	padding: 10px 10px 0 ;
	overflow: hidden;
	height: 100%;
}
.main .main_right .right_banner{
	display: block;
	width: 100%;
}
.main .main_right .right_banner img{
	width: 100%;
	overflow: hidden;
}
.main .main_right h3{
	margin-top: 10px;
	font-size: 12px;
}
/*右侧列表部分*/
.main .main_right ul{
	width: 100%;
	padding-top: 10px;
}
.main .main_right ul li{
	width: 33.3333%;
	float:left;
}
.main .main_right ul li a{
	display: block;
	width: 100%;
}
.main .main_right ul li a img{
	height: 62px;
	width: 62px;
	margin: 0 auto;
	display: block;
}
.main .main_right ul li a p{
	text-align: center;
	color: #000000;
	padding: 4px 0;
}
